# Coding Etiquette and Data Preparation for final analysis

## The script below contains the following:

1. Import needed libraries
2. Import dataframe and check dimensions
3. Crosstabs in Python
4. Clean the dataframe for final analysis
5. Sampling the dataframe due to memory usage issue
6. Export the dataframe

### 1. Import needed libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 2. Import dataframe and check dimensions

In [2]:
# Creating path variable to import dataframe

path = r'C:\Users\babum\Desktop\CF_Data Analytics\Data Immersion\Achievement 4\02-2023 Instacart Basket Analysis'

In [3]:
# Import dataframe

df_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))

In [4]:
# Check the output

df_all.shape

(32404859, 31)

In [5]:
df_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,median_days_prior_order,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,family_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,8.0,Frequent customer,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,9.0,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,9.0,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [6]:
df_all.tail()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,median_days_prior_order,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,family_status,income,_merge
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,...,7.0,Frequent customer,Female,Rhode Island,47,9/13/2017,1,married,166687,both
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,11,...,30.0,Non-frequent customer,Male,West Virginia,25,3/16/2020,0,single,53936,both
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,...,6.0,Frequent customer,Female,Michigan,57,3/21/2018,1,married,100649,both
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,...,6.0,Frequent customer,Female,Michigan,57,3/21/2018,1,married,100649,both
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,...,6.0,Frequent customer,Female,Pennsylvania,34,2/25/2017,2,married,56331,both

## 3. Crosstabs in python

In [7]:
# creating crosstab to check the missing values in  "days_since_prior_order"

crosstab = pd.crosstab(df_all['days_since_prior_order'], df_all['order_number'], dropna = False)

In [8]:
#Copying the table to clipboard to use the table in excel

crosstab.to_clipboard()

In [9]:
# Check the table

crosstab

order_number,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,
0.0,0,20536,20441,17984,16438,16046,14384,13890,12774,11460,...,1195,1148,1040,937,1134,1099,1041,883,1037,935
1.0,0,31674,29950,28010,27092,25533,24996,22921,21783,21067,...,2787,2801,2728,2605,2606,2639,2436,2535,2633,2363
2.0,0,46454,46264,43902,40729,40907,38101,37519,35745,33830,...,3623,3555,3314,3589,3319,3072,2985,3057,3091,2609
3.0,0,61637,63388,59996,57882,56183,52869,49291,48295,47826,...,3318,3237,2799,3073,2902,2635,2658,2462,2168,2467
4.0,0,76733,78861,73540,70519,66569,62399,61143,59499,57700,...,2342,2260,2490,2031,1800,2083,1918,1792,1695,1810
5.0,0,88999,91741,86503,81859,77583,73584,70020,64468,63154,...,1630,1630,1367,983,1215,1220,1166,966,912,936
6.0,0,120681,122871,114644,106764,100756,95954,89752,87203,78634,...,754,842,940,1014,835,570,490,602,485,542
7.0,0,184802,181656,167597,157442,143628,137675,128423,120734,114769,...,634,573,521,440,602,421,420,378,419,322
8.0,0,112324,110742,102217,94945,87611,81622,78760,71070,67567,...,238,262,228,244,275,232,234,143,137,84
9.0,0,73676,75379,68513,65045,58933,54801,50593,47752,43483,...,190,90,98,101,146,91,67,102,66,65
10.0,0,62037,62457,57676,51916,49463,43706,41110,38443,34916,...,60,103,222,78,45,116,4,101,42,59
11.0,0,55561,55918,51974,45512,42542,40174,36884,33404,30830,...,57,83,175,55,68,126,63,64,1,19
12.0,0,54604,56630,51043,44615,42591,38685,35331,33477,29857,...,58,54,70,32,50,75,55,52,5,66
13.0,0,63962,66351,58478,54339,47725,44872,41268,38333,34275,...,69,93,93,80,85,24,27,61,83,68
14.0,0,82109,79773,74714,67484,60476,54863,49237,46265,42381,...,38,8,13,96,55,41,32,54,33,5
15.0,0,54492,53593,50229,44029,39497,35548,33879,29615,27757,...,44,14,31,25,6,23,20,17,7,17
16.0,0,38887,39524,34481,30581,28286,25429,22407,22373,20587,...,65,20,7,0,12,0,39,50,17,10
17.0,0,31942,32861,29823,26271,23860,20629,18592,17567,16012,...,14,0,32,0,16,7,4,23,0,5
18.0,0,31615,30484,27305,24859,21999,19165,17597,16762,15066,...,0,1,13,0,20,0,51,0,0,26
19.0,0,29890,31364,26501,23852,21441,19910,17867,15702,14316,...,0,6,0,0,0,0,21,14,0,0
20.0,0,35489,35213,31767,28748,25526,23119,19785,17132,16038,...,31,41,7,0,9,0,0,0,0,0
21.0,0,43945,44587,37647,32182,31429,26005,23502,20599,19549,...,19,0,32,12,0,19,0,0,12,0
22.0,0,30037,29490,26582,23394,20486,18492,16947,15403,13864,...,0,9,0,0,0,0,0,0,0,0
23.0,0,22950,24117,19794,17068,15570,13896,11557,11146,8681,...,13,0,0,0,0,9,0,0,0,0
24.0,0,19287,19434,16898,15718,13536,12404,10803,9504,8252,...,0,0,0,0,0,0,0,0,0,0
25.0,0,18759,19368,16264,14223,12605,10713,9214,8535,7797,...,0,0,0,0,0,0,0,0,0,0
26.0,0,18449,19464,16067,14922,12991,11803,9902,8717,7911,...,0,0,0,0,0,9,0,0,0,0
27.0,0,21333,22614,20202,18333,14454,12479,11797,10209,8594,...,12,0,0,0,0,0,0,0,0,0
28.0,0,27969,28780,25260,20869,18116,16532,14232,12702,10896,...,0,0,0,0,0,0,6,0,0,0
29.0,0,19943,19840,17003,14768,13290,11258,10092,8856,7650,...,0,4,0,0,0,0,0,0,0,0
30.0,0,465633,455713,365995,294503,241262,196568,163732,135424,113059,...,6,11,3,0,0,5,0,0,8,13

## 4. Clean the dataframe for final analysis

In [10]:
# Check for missing values

df_all.isnull().sum()

product_id                       0
product_name                     0
aisle_id                         0
department_id                    0
prices                        5127
order_id                         0
user_id                          0
order_number                     0
orders_day_of_week               0
order_hour_of_day                0
days_since_prior_order     2076096
add_to_cart_order                0
reordered                        0
price_range_loc                  0
busiest_day                      0
busiest_days                     0
busiest_period_of_day            0
max_order                        0
loyalty_flag                     0
avg_price                        0
spending_flag                    0
median_days_prior_order          5
order_frequency_flag             5
gender                           0
state                            0
age                              0
date_joined                      0
num_of_dependants                0
family_status                    0
income                           0
_merge                           0
dtype: int64

In [11]:
df_all_clean = df_all[df_all['prices'].isnull() == False]

In [12]:
df_all_clean.isnull().sum()

product_id                       0
product_name                     0
aisle_id                         0
department_id                    0
prices                           0
order_id                         0
user_id                          0
order_number                     0
orders_day_of_week               0
order_hour_of_day                0
days_since_prior_order     2075745
add_to_cart_order                0
reordered                        0
price_range_loc                  0
busiest_day                      0
busiest_days                     0
busiest_period_of_day            0
max_order                        0
loyalty_flag                     0
avg_price                        0
spending_flag                    0
median_days_prior_order          5
order_frequency_flag             5
gender                           0
state                            0
age                              0
date_joined                      0
num_of_dependants                0
family_status                    0
income                           0
_merge                           0
dtype: int64

In [13]:
df_all_clean.shape

(32399732, 31)

## 5. Sampling the dataframe due to memory usage issue

In [14]:
# Create a list holding Ture/False values to the test np.random.rand() <=0.7

np.random.seed(4)
dev = np.random.rand(len(df_all_clean)) <= 0.7

In [15]:
# Store 70% of the sample in the dataframe df_all_big

df_all_big = df_all_clean[dev]

In [16]:
# Store 30% of the sample in the dataframe df_all_small

df_all_small = df_all_clean[~dev]

In [17]:
# Check the output

len(df_all_big) + len(df_all_small)

32399732

## 6. Export the dataframe

In [18]:
df_all_clean.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all_final.pkl'))

In [19]:
df_all_big.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all_big_sample.pkl'))

In [20]:
df_all_small.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all_small_sample.pkl'))