# 4.8 Grouping Data & Aggregating values

# The scripts contains the answer for task 4.8:

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 1. Import dataframe and check for the dimensions

In [2]:
# Create path variable

path = r'C:\Users\babum\Desktop\CF_Data Analytics\Data Immersion\Achievement 4\02-2023 Instacart Basket Analysis'

In [3]:
# Import dataset

ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'ords_prods_newvar.pkl'))

In [4]:
#Check dimensions of the dataframe

ords_prods_merge.shape

(32404859, 19)

In [5]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,existing,5,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,existing,1,1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,existing,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,existing,11,1,both,Mid-range product,Least busy,Slowest days,Average orders

# 2. How to find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe

In [6]:
# Performing a single aggregation

ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 3. The mean of a subset of dataframe differs a little from mean of the entire dataframe. The variablity in the mean will depend on the size of the dataframe.

# 4. Creating a loyalty flag for existing customers using the transform() and loc() functions

In [7]:
# Create a new column for max_order with grouping by user_id and using trasnform function

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#Check the output

ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,existing,5,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,existing,1,1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,existing,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,existing,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,existing,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,existing,2,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,existing,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,existing,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,existing,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,new,1,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,existing,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,existing,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,existing,4,1,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,existing,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13

In [9]:
ords_prods_merge.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,existing,5,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,existing,1,1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,existing,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,new,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,existing,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,602103,10831,8,3,11,23.0,existing,5,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
96,1,Chocolate Sandwich Cookies,61,19,5.8,49629,11119,18,1,14,30.0,existing,1,0,both,Mid-range product,Regularly busy,Busiest days,Most orders,23
97,1,Chocolate Sandwich Cookies,61,19,5.8,317888,11186,13,5,16,2.0,existing,8,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,26
98,1,Chocolate Sandwich Cookies,61,19,5.8,682486,11243,16,3,13,0.0,existing,2,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43
99,1,Chocolate Sandwich Cookies,61,19,5.8,2861386,11448,10,2,15,3.0,existing,6,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,21

# Deriving column with loc()

In [10]:
#Creating flag column

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#Check the frequency of newly derived column

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [14]:
#Check the output with limited columns

ords_prods_merge[['user_id','loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

# 5. Whether there’s a difference between the spending habits of the three types of customers

In [15]:
# Group by loyalty category and aggregate to find the basic statistics

ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'median', 'min', 'max', 'count','sum']})

                     prices
                       mean median  min      max     count          sum
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0  10284093  106814042.2
New customer      13.294670    7.4  1.0  99999.0   6243990   83011787.2
Regular customer  12.495717    7.4  1.0  99999.0  15876776  198391693.2

# The mean is greater than the median in all three customer category. This means that the distribution is skewed to the right. The mean of New customer is higher compared to the mean of other customers. This might be because the price of the products purchased by new customer is higher compared to regular and loyal customers.

# 6. Create a spending flag for each user based on the average price across all their orders

In [16]:
# Create a new column for avg_price with grouping by user_id and using trasnform function

ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
#Check the output

ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500

In [18]:
# Creating spending_flag column with criteria

ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [19]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [20]:
#Check the frequency of newly derived column

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [21]:
#Check the output with limited columns

ords_prods_merge[['user_id','spending_flag']].head(60)

    user_id spending_flag
0       138   Low spender
1       138   Low spender
2       709   Low spender
3       764   Low spender
4       764   Low spender
5       777   Low spender
6       825   Low spender
7       910   Low spender
8      1052   Low spender
9      1052   Low spender
10     1379   Low spender
11     1480   Low spender
12     1480   Low spender
13     1480   Low spender
14     1494   Low spender
15     1494   Low spender
16     1494   Low spender
17     1540   Low spender
18     1540   Low spender
19     1540   Low spender
20     1540   Low spender
21     1540   Low spender
22     1540   Low spender
23     1540   Low spender
24     1540   Low spender
25     1540   Low spender
26     1540   Low spender
27     1540   Low spender
28     1540   Low spender
29     1540   Low spender
30     1540   Low spender
31     1540   Low spender
32     1540   Low spender
33     1540   Low spender
34     1598   Low spender
35     1598   Low spender
36     1598   Low spender
37     1647   Low spender
38     1647   Low spender
39     1647   Low spender
40     1647   Low spender
41     1647   Low spender
42     2833   Low spender
43     2850   Low spender
44     2857   Low spender
45     3010   Low spender
46     3029   Low spender
47     3395   Low spender
48     3904   Low spender
49     4006   Low spender
50     4006   Low spender
51     4006   Low spender
52     4006   Low spender
53     4006   Low spender
54     4122   Low spender
55     4141   Low spender
56     4343   Low spender
57     4553   Low spender
58     4845   Low spender
59     6866   Low spender

In [22]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender

# 7.  Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [23]:
# Create a new column for median_days_prior_order with grouping by user_id and using trasnform function

ords_prods_merge['median_days_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
# Check the output

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_prior_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0

In [25]:
# Creating order_frequency_flag

ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [26]:
ords_prods_merge.loc[(ords_prods_merge['median_days_prior_order'] > 10) & (ords_prods_merge['median_days_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [27]:
ords_prods_merge.loc[ords_prods_merge['median_days_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [28]:
#Check the frequency of newly derived column

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

# The NaN of 5 count must be the new customer with no available history data.

In [29]:
# Check the output

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [30]:
ords_prods_merge.shape

(32404859, 25)

In [31]:
ords_prods_merge[['user_id','order_frequency_flag']].head(60)

    user_id   order_frequency_flag
0       138      Frequent customer
1       138      Frequent customer
2       709      Frequent customer
3       764      Frequent customer
4       764      Frequent customer
5       777       Regular customer
6       825       Regular customer
7       910      Frequent customer
8      1052      Frequent customer
9      1052      Frequent customer
10     1379       Regular customer
11     1480      Frequent customer
12     1480      Frequent customer
13     1480      Frequent customer
14     1494      Frequent customer
15     1494      Frequent customer
16     1494      Frequent customer
17     1540      Frequent customer
18     1540      Frequent customer
19     1540      Frequent customer
20     1540      Frequent customer
21     1540      Frequent customer
22     1540      Frequent customer
23     1540      Frequent customer
24     1540      Frequent customer
25     1540      Frequent customer
26     1540      Frequent customer
27     1540      Frequent customer
28     1540      Frequent customer
29     1540      Frequent customer
30     1540      Frequent customer
31     1540      Frequent customer
32     1540      Frequent customer
33     1540      Frequent customer
34     1598      Frequent customer
35     1598      Frequent customer
36     1598      Frequent customer
37     1647  Non-frequent customer
38     1647  Non-frequent customer
39     1647  Non-frequent customer
40     1647  Non-frequent customer
41     1647  Non-frequent customer
42     2833       Regular customer
43     2850      Frequent customer
44     2857       Regular customer
45     3010      Frequent customer
46     3029  Non-frequent customer
47     3395       Regular customer
48     3904  Non-frequent customer
49     4006      Frequent customer
50     4006      Frequent customer
51     4006      Frequent customer
52     4006      Frequent customer
53     4006      Frequent customer
54     4122      Frequent customer
55     4141  Non-frequent customer
56     4343  Non-frequent customer
57     4553  Non-frequent customer
58     4845       Regular customer
59     6866  Non-frequent customer

In [32]:
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [33]:
#Check for outliers

ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_prior_order,order_frequency_flag
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,...,High-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,...,High-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,108.648299,High spender,5.0,Frequent customer
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,...,High-range product,Regularly busy,Regularly busy days,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,1154.792308,High spender,12.0,Regular customer
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,114.426619,High spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,...,High-range product,Busiest day,Busiest days,Average orders,39,Regular customer,1106.743956,High spender,4.0,Frequent customer
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,...,High-range product,Busiest day,Busiest days,Most orders,39,Regular customer,1106.743956,High spender,4.0,Frequent customer
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,...,High-range product,Regularly busy,Slowest days,Most orders,15,Regular customer,451.153540,High spender,5.0,Frequent customer
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,...,High-range product,Regularly busy,Slowest days,Average orders,12,Regular customer,1178.381871,High spender,12.0,Regular customer
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,...,High-range product,Busiest day,Busiest days,Most orders,12,Regular customer,1178.381871,High spender,12.0,Regular customer

In [34]:
# Assigning nan to the outlier values

ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [35]:
#Check the output

ords_prods_merge['prices'].max()

25.0

# Changing the datatype of the columns for memory usage issue

In [36]:
ords_prods_merge.dtypes

product_id                    int64
product_name                 object
aisle_id                      int64
department_id                 int64
prices                      float64
order_id                      int64
user_id                       int64
order_number                  int64
orders_day_of_week            int64
order_hour_of_day             int64
days_since_prior_order      float64
customer_status              object
add_to_cart_order             int64
reordered                     int64
_merge                     category
price_range_loc              object
busiest_day                  object
busiest_days                 object
busiest_period_of_day        object
max_order                     int64
loyalty_flag                 object
avg_price                   float64
spending_flag                object
median_days_prior_order     float64
order_frequency_flag         object
dtype: object

In [37]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                   Dtype
---  ------                   -----
 0   product_id               int64
 1   product_name             object
 2   aisle_id                 int64
 3   department_id            int64
 4   prices                   float64
 5   order_id                 int64
 6   user_id                  int64
 7   order_number             int64
 8   orders_day_of_week       int64
 9   order_hour_of_day        int64
 10  days_since_prior_order   float64
 11  customer_status          object
 12  add_to_cart_order        int64
 13  reordered                int64
 14  _merge                   category
 15  price_range_loc          object
 16  busiest_day              object
 17  busiest_days             object
 18  busiest_period_of_day    object
 19  max_order                int64
 20  loyalty_flag             object
 21  avg_price                float64
 22  spending_flag            object
 23  median_days_prior_order  float64
 24  order_frequency_flag     object
dtypes: category(1), float64(4), int64(11), object(9)
memory usage: 6.1+ GB

In [38]:
ords_prods_merge['customer_status'].head(10)

0    existing
1    existing
2    existing
3         new
4    existing
5    existing
6    existing
7    existing
8    existing
9    existing
Name: customer_status, dtype: object

In [39]:
ords_prods_merge = ords_prods_merge.drop(columns = ['customer_status'])

In [40]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   product_id               int64
 1   product_name             object
 2   aisle_id                 int64
 3   department_id            int64
 4   prices                   float64
 5   order_id                 int64
 6   user_id                  int64
 7   order_number             int64
 8   orders_day_of_week       int64
 9   order_hour_of_day        int64
 10  days_since_prior_order   float64
 11  add_to_cart_order        int64
 12  reordered                int64
 13  _merge                   category
 14  price_range_loc          object
 15  busiest_day              object
 16  busiest_days             object
 17  busiest_period_of_day    object
 18  max_order                int64
 19  loyalty_flag             object
 20  avg_price                float64
 21  spending_flag            object
 22  median_days_prior_order  float64
 23  order_frequency_flag     object
dtypes: category(1), float64(4), int64(11), object(8)
memory usage: 5.8+ GB

In [41]:
# Reducing the size of the columns 

ords_prods_merge['order_id']= ords_prods_merge ['order_id'].astype('int32')
ords_prods_merge ['user_id'] = ords_prods_merge ['user_id'].astype('int32')
ords_prods_merge['product_id']= ords_prods_merge ['product_id'].astype('int32')
ords_prods_merge ['aisle_id'] = ords_prods_merge ['aisle_id'].astype('int32')
ords_prods_merge ['department_id'] = ords_prods_merge ['department_id'].astype('int32')
ords_prods_merge ['order_number']= ords_prods_merge ['order_number'].astype('int8')
ords_prods_merge ['orders_day_of_week']= ords_prods_merge ['orders_day_of_week'].astype('int8')
ords_prods_merge ['order_hour_of_day']= ords_prods_merge ['order_hour_of_day'].astype('int8')
ords_prods_merge ['days_since_prior_order']= ords_prods_merge ['days_since_prior_order'].astype('float16')
ords_prods_merge ['reordered']= ords_prods_merge ['reordered'].astype('int8')
ords_prods_merge['add_to_cart_order']= ords_prods_merge ['add_to_cart_order'].astype('int32')
ords_prods_merge['max_order']= ords_prods_merge ['max_order'].astype('int32')
ords_prods_merge ['median_days_prior_order']= ords_prods_merge ['median_days_prior_order'].astype('float16')

In [42]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   product_id               int32
 1   product_name             object
 2   aisle_id                 int32
 3   department_id            int32
 4   prices                   float64
 5   order_id                 int32
 6   user_id                  int32
 7   order_number             int8
 8   orders_day_of_week       int8
 9   order_hour_of_day        int8
 10  days_since_prior_order   float16
 11  add_to_cart_order        int32
 12  reordered                int8
 13  _merge                   category
 14  price_range_loc          object
 15  busiest_day              object
 16  busiest_days             object
 17  busiest_period_of_day    object
 18  max_order                int32
 19  loyalty_flag             object
 20  avg_price                float64
 21  spending_flag            object
 22  median_days_prior_order  float16
 23  order_frequency_flag     object
dtypes: category(1), float16(2), float64(2), int32(7), int8(4), object(8)
memory usage: 3.8+ GB

# Export to pkl format

In [43]:
#Export to pkl format

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_grouped.pkl'))